#header {
    color:bisque; font-family: "Lucida Console", "Courier New", monospace;
}
body {
    background-color:lightsteelblue;
}
a[title="jkmin1"] {
    color:yellow;
}
a[title="5"] {
    color: yellow;
}
td {
    text-align: center;
}

tr td:nth-child(2){ 
    text-align: left;
    padding-left: 5px;
}